{:source-paths ["src"]
  :dependencies [[reagent "0.8.1" :exclusions [cljsjs/react cljsjs/react-dom]]]
 :dev-http {8080 "public/"}
 :builds {:app {:output-dir "public/js"
                :asset-path "/js"
                :target :browser
                :modules {:main {:init-fn app.main/main!}}
                :devtools {:after-load app.main/reload! 
                           :http-root "public"}}}}